@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
html,
body {
  height: 100vh;
  font-family: "Helvetica Regular", "Montserrat";
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("/fonts/HelveticaNeueLTStd-BdEx.otf");
}

@font-face {
  font-family: "Helvetica Medium";
  src: url("/fonts/HelveticaNeueLTStd63MediumExtended.otf");
}

@font-face {
  font-family: "Helvetica Regular";
  src: url("/fonts/Extended53.otf");
}

@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/Helvetica Neue LT Std 43 Light Extended.otf");
}
